kafka_host="111.111.111.111"
kafka_port="9999"
redis_host="111.111.111.111"
redis_port="6380"
regional="user_100_station"
ssh_host="111.111.111.111"
ssh_port="22"
ssh_username="root"
ssh_password="JakartaBersih12#"
database_host="111.111.111.111"
database_port="23982"
database_name="sispro-tews"
database_root_username="username"
database_root_password="password"
database_data_path="path/to/db_data"